body{
  background: linear-gradient(red, yellow);
}
input{
  height: 50px;
  font-size: 20px;
  text-align: center;
}
.input{
  text-align: center;
}
h1{
  text-align: center;
}
p{
  text-align: center;
  font-size: 20px;
}
select{
  width: 150px;
  height: 30px;
}
