img {
  height: 200px;
  width: 400px;
  margin: auto;
  width: 30%;
  border: 3px solid #3E99CB;
  padding: 10px;
}

body {
  background-color: #3E99CB;
}
#header1{
  text-align: center;
  color: white;
  text-shadow: 2px 2px #1D4B64;
}
p{
  font-size: 20px;
}
.profileImg {
    border-radius: 50%;
}
#profiles{
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}

#header{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;

}
.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 50%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*  */

.container2 {
    position: relative;
    width: 50%;
}

.image2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 50%;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container2:hover .image2 {
  opacity: 0.3;
}

.container2:hover .middle2 {
  opacity: 1;
}

.text2 {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
#containers{
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}
